/*
I decided to practice to self host the font as they were already in the folder project.
Instead of relaying on a CDN.
*/
@font-face {
    /* This family font variable has only 1 axis (wght). Useful tool: https://wakamaifondue.com/ */
    font-family: "Figtree";
    /* I did not choose to convert ttf to woff2 as the file is already low in size (63KB) */
    src: url("../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 500 800;
    /* Explanation for 'font-display': https://web.dev/articles/font-best-practices#choose_an_appropriate_font-display_strategy */
    font-display: fallback;
}

:root {
    /* Colors */
    --color-white: hsl(0, 0%, 100%);
    --color-yellow: hsl(47, 88%, 63%);
    --color-gray-500: hsl(0, 0%, 42%);
    --color-gray-950: hsl(0, 0%, 7%);

    /* Typography */
    --font-family: "Figtree";
    --font-family-fallback: system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    --font-weight-medium: 500;
    --font-weight-extrabold: 800;
    --font-size-1: 1.5rem;
    --font-size-2: 1rem;
    --font-size-3: 0.875rem;

    /* Spacing */
    --space-300: 1.5rem;
    --space-150: 0.75rem;
    --space-50: 0.25rem;

    --border-radius-200: 1.25rem;
    --border-radius-100: 0.625rem;
    --border-radius-50: 0.25rem;
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--font-family), var(--font-family-fallback);
    background-color: var(--color-yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-gray-950);
}

.card {
    background-color: var(--color-white);
    width: 24rem;
    padding: var(--space-300);
    border: 1px solid var(--color-gray-950);
    border-radius: var(--border-radius-200);
    box-shadow: 8px 8px 0 0 var(--color-gray-950)
}

.card-image {
    height: 12.5rem;
    width: 21rem;
    background: url("../assets/images/illustration-article.svg") no-repeat center;
    background-size: cover;
    border-radius: var(--border-radius-100);
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: var(--space-300);
}

.badge {
    background-color: var(--color-yellow);
    border-radius: var(--border-radius-50);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-extrabold);
    padding: var(--space-50) var(--space-150);
}

.date,
.title,
.description {
    margin-top: var(--space-150);
}

.date {
    font-size: var(--font-size-3);
}

.title {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-extrabold);
}

.title:hover {
    color: var(--color-yellow);
    cursor: pointer;
}

.description {
    color: var(--color-gray-500);
    font-size: var(--font-size-2);
}

.author {
    display: flex;
    align-items: center;
    gap: var(--space-150);
    margin-top: var(--space-300);
}

.author-picture {
    width: 2rem;
    height: 2rem;
}

.author-name {
    font-weight: var(--font-weight-extrabold);
    font-size: var(--font-size-3);
}