/*
I decided to practice to self host the font as they were already in the folder project.
Instead of relaying on a CDN.
*/
@font-face {
    /* This family font variable has only 1 axis (wght). Useful tool: https://wakamaifondue.com/ */
    font-family: "Figtree";
    /* I did not choose to convert ttf to woff2 as the file is already low in size (63KB) */
    src: url("../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 500 800;
    /* Explanation for 'font-display': https://web.dev/articles/font-best-practices#choose_an_appropriate_font-display_strategy */
    font-display: fallback;
}

/* Static fonts in case the browser does not load the variable font */
@font-face {
    font-family: "Figtree-extrabold";
    src: url("../assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Figtree-medium";
    src: url("../assets/fonts/static/Figtree-Medium.ttf") format("truetype");
}

:root {
    /* Colors */
    --color-white: hsl(0, 0%, 100%);
    --color-yellow: hsl(47, 88%, 63%);
    --color-gray-500: hsl(0, 0%, 42%);
    --color-gray-950: hsl(0, 0%, 7%);

    /* Typography */
    --font-family: "Figtree";
    --font-family-fallback: "Figtree-medium", system-ui, sans-serif;
    --font-weight-medium: 500;
    --font-weight-extrabold: 800;
    --font-size-preset-1: 1.5rem;
    --font-size-preset-2: 1rem;
    --font-size-preset-3: 0.875rem;

    /* Spacing */
    --space-300: 1.5rem;
    --space-200: 1rem;
    --space-150: 0.75rem;
    --space-100: 0.5rem;
    --space-50: 0.25rem;

    --border-radius-20px: 1.25rem;
    --border-radius-10px: 0.625rem;
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--font-family), var(--font-family-fallback);
    background-color: var(--color-yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-card {
    background-color: var(--color-white);
    width: 24rem;
    padding: var(--space-300);
    border: 1px solid var(--color-gray-950);
    border-radius: var(--border-radius-20px);
}

.blog-card-image {
    height: 12.5rem;
    width: 21rem;
    background-image: url("../assets/images/illustration-article.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--border-radius-10px);
}